Flask==1.0.2
future==0.16.oauthlib==2.1.0
pandas==0.23.0
parso==0.2.1
pep8==1.7.1
pipenv==2018.5.18
pluggy==0.6.0
pycodestyle==2.3.1
pydocstyle==2.1.1
pyflakes==2.0.0
pyparsing==2.2.0
pyperclip==1.6.0
python-dateutil==2.7.3
python-dotenv==0.8.2
python-language-server==0.18.0
pytz==2018.4
requests==2.18.4
requests-oauthlib==0.8.0
rope==0.10.7
scipy==1.1.0
seaborn==0.8.1
six==1.11.0
snowballstemmer==1.2.1
tinydb==3.9.0.post1
urllib3==1.22
virtualenv==16.0.0
virtualenv-clone==0.3.0
Werkzeug==0.14.1
yapf==0.22.0
