body{
    font-family: sans-serif;
    background-color: #EEE;
    color: #333;
    text-align:center;
    font-size: 13px;
    line-height: 200%;
}

div{
   border-radius: 6px;
   margin: 10px auto;
}

a{
  color:#CC6600;
}

a:visited{
  color:#AAA;
}

a:hover{
  color:#555;
}

h1{
  display: none;
}

#logo{
    width: 220px;
}

#app{
    width: 500px;
}

#chat_input{
  font-size: 15px;
  background-color: white;
  padding: 10px;
}

#chat_list{
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.user_name{
  width: 100px;
  text-align: left;
  float: left;
}

.user_msg{
  margin: 0 0 0 100px;
  width: 360px;
}
