<!-- templates/show.html -->
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset = "utf-8">
        <title>Eventoday</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>

    <h2>  Eventodayへようこそ！！ </h2>
<p class=explanation>オススメのイベントを教えてくれるアプリがあれば良いと思いませんか？？</p>
<p class=explanation>Eventodayとは、急に時間が空いた、勉強の息抜きに何処か出かけたい。など手軽にイベントに参加したいときにとても便利なアプリです。</p>
<p class=explanation>Twitterアカウントからあなたにおすすめのイベントをpick upします！！</p>

        <h2>Let's find interesting events now!!</h2>

      <a href="/input"></a>
      </body>
</html>
