<!-- templates/show.html -->
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset = "utf-8">
        <title>Eventoday</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
      <!--
      <div id="logo"><img src="{{ url_for('static', filename='logo.png') }}"></div>-->
    <h1>  Eventodayへようこそ！！ </h1>
<p class=explanation>オススメのイベントを教えてくれるアプリがあれば良いと思いませんか？？</p>
<p class=explanation>Eventodayとは、急に時間が空いた、勉強の息抜きに何処か出かけたい。など手軽にイベントに参加したいときにとても便利なアプリです。</p>
<p class=explanation>ご登録頂いたメールアドレスに定期的に、近場で開催されるおすすめのイベントをpick upして通知いたします</p>

        <h2>Let's find interesting events now!!</h2>

        <div id="app">
            <form action='/registration'>
              <p>メールアドレス: <input type='email' name='Adress' placeholder='info@example.com' id="ad"></p>

              <p>TwitterID:@ <input type='text' name='ID' placeholder='TwitterID'id="twtter"></p>

              <p>エリアを選択:  <select name='area' id="area">
                <option value="Hokkaido">北海道</option>
                <option value="Miyagi">宮城県</option>
                <option value="Aomori">青森県</option>
                <option value="Iwate">岩手県</option>
                <option value="Akita">秋田県</option>
                <option value="Yamagata">山形県</option>
                <option value="Fukusima">福島県</option>
                <option value="Tokyo" selected>東京都</option>
                <option value="Kanagawa">神奈川県</option>
                <option value="Chiba">千葉県</option>
                <option value="Saitama">埼玉県</option>
                <option value="Gunma">群馬県</option>
                <option value=" Tochigi">栃木県</option>
                <option value="Ibaraki">茨城県</option>
                <option value="Yamanashi">山梨県</option>
                <option value="Nagano">長野県</option>
                <option value="Aichi">愛知県</option>
                <option value="Gihu">岐阜県</option>
                <option value="Mie">三重県</option>
                <option value="Shizuoka">静岡県</option>
                <option value="Ishikawa">石川県</option>
                <option value="Toyama">富山県</option>
                <option value="Fukui">福井県</option>
                <option value="Osaka">大阪府</option>
                <option value="Kyoto">京都府</option>
                <option value="Hyogo">兵庫県</option>
                <option value="Nara">奈良県</option>
                <option value="Wakayama">和歌山県</option>
                <option value="Shiga">滋賀県</option>
                <option value="Hiroshima">広島県</option>
                <option value="Okayama">岡山県</option>
                <option value="Yamaguchi">山口県</option>
                <option value="Tottori">鳥取県</option>
                <option value="Shimane">島根県</option>
                <option value="Kagawa">香川県</option>
                <option value="Ehime">愛媛県</option>
                <option value="Tokushima">徳島県</option>
                <option value="Kouchi">高知県</option>
                <option value="Fukuoka">福岡県</option>
                <option value="Saga">佐賀県</option>
                <option value="Nagasaki">長崎県</option>
                <option value="Kumamoto">熊本県</option>
                <option value="Oita">大分県</option>
                <option value="Miyazaki">宮崎県</option>
                <option value="Kagoshima">鹿児島県</option>
                <option value="Okinawa">沖縄県</option>
              </select>
            </p>
            <p>興味のあるイベント(複数回答可)</p>
              <table id="xx">
              <td><input type="checkbox" name="events" value="fes" class="abc">お祭り </td>
              <td><input type="checkbox" name="events" value="gourmet" class="abc">グルメ </td>
              <td><input type="checkbox" name="events" value="culture" class="abc">文化・芸術・スポーツ </td>
              <td><input type="checkbox" name="events" value="animalgame" class="abc">動物・アニメ・ゲーム </td>
              <td><input type="checkbox" name="events" value="active"class="abc">体験・アクティビティ </td>

            </table>
             <p><input type='submit' value="送信！"></p>
            </form>

    <!--        {% for post in posts %}
            <>{{ post.adress }}</h2>
            <p>{{ post.ID }}</p>
            <p>{{ post.area }}</p>
            {% endfor %}      -->
        </div>
        <ls> 今日は2018-05-17 </ls>
        <ls> 時刻は15:45 </ls>
      </body>
</html>
